In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("data/customer_shopping_data.csv")
df.head(50)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,25/12/2022,Metrocity
11,I139207,C191708,Female,29,Books,1,15.15,Credit Card,28/10/2022,Emaar Square Mall
12,I640508,C225330,Female,67,Toys,4,143.36,Debit Card,31/07/2022,Metrocity
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,17/11/2022,Cevahir AVM
14,I336189,C555402,Female,67,Clothing,2,600.16,Credit Card,3/6/2022,Kanyon
15,I688768,C362288,Male,24,Shoes,5,3000.85,Credit Card,7/11/2021,Viaport Outlet
16,I294687,C300786,Male,65,Books,2,30.30,Debit Card,16/01/2021,Metrocity
17,I195744,C330667,Female,42,Food & Beverage,3,15.69,Credit Card,5/1/2022,Zorlu Center
18,I993048,C218149,Female,46,Clothing,2,600.16,Cash,26/07/2021,Metropol AVM
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,7/3/2023,Cevahir AVM
20,I183746,C220180,Male,23,Clothing,1,300.08,Credit Card,15/02/2023,Emaar Square Mall
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,1/5/2021,Cevahir AVM
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,18/06/2022,Cevahir AVM
23,I252275,C313348,Male,44,Technology,5,5250.00,Cash,26/10/2021,Kanyon
24,I174250,C204553,Female,42,Books,5,75.75,Cash,16/12/2022,Metrocity
25,I195396,C285161,Male,51,Toys,2,71.68,Debit Card,16/05/2021,Istinye Park
26,I196704,C289625,Female,25,Cosmetics,5,203.30,Credit Card,20/04/2022,Mall of Istanbul
27,I217053,C192344,Male,50,Shoes,4,2400.68,Cash,10/10/2022,Emaar Square Mall
28,I655874,C447138,Female,65,Shoes,3,1800.51,Cash,23/08/2022,Cevahir AVM
29,I209744,C251229,Male,29,Cosmetics,3,121.98,Credit Card,29/04/2021,Istinye Park
30,I161949,C159164,Female,66,Toys,3,107.52,Debit Card,4/7/2022,Mall of Istanbul
31,I331891,C501658,Male,23,Clothing,1,300.08,Credit Card,21/11/2021,Emaar Square Mall
32,I768348,C176727,Female,32,Shoes,3,1800.51,Credit Card,23/02/2022,Kanyon
33,I109053,C232624,Male,51,Clothing,4,1200.32,Debit Card,11/7/2021,Metrocity
34,I167211,C164092,Female,66,Shoes,4,2400.68,Credit Card,30/08/2022,Zorlu Center
35,I339732,C276887,Male,68,Food & Beverage,1,5.23,Credit Card,4/1/2023,Emaar Square Mall
36,I147062,C245456,Male,43,Clothing,5,1500.40,Credit Card,21/06/2022,Kanyon
37,I187519,C450287,Female,59,Clothing,2,600.16,Credit Card,8/7/2022,Metrocity
38,I106674,C204279,Male,54,Clothing,2,600.16,Cash,27/02/2022,Kanyon
39,I473411,C452806,Male,24,Clothing,1,300.08,Cash,19/12/2022,Metropol AVM
40,I246550,C716788,Female,49,Food & Beverage,3,15.69,Cash,10/9/2021,Zorlu Center
41,I138674,C155059,Male,67,Cosmetics,2,81.32,Credit Card,14/02/2022,Metropol AVM
42,I752693,C306662,Female,48,Cosmetics,3,121.98,Cash,28/04/2022,Metrocity
43,I826174,C607615,Female,40,Shoes,4,2400.68,Cash,20/06/2022,Metrocity
44,I296025,C120164,Female,41,Shoes,3,1800.51,Credit Card,21/04/2022,Kanyon
45,I117291,C134449,Male,46,Books,5,75.75,Credit Card,9/12/2022,Zorlu Center
46,I267193,C317818,Female,19,Cosmetics,3,121.98,Credit Card,12/1/2023,Mall of Istanbul
47,I205366,C241642,Female,43,Clothing,4,1200.32,Debit Card,7/11/2022,Zorlu Center
48,I269690,C126436,Male,18,Cosmetics,3,121.98,Debit Card,7/2/2022,Zorlu Center
49,I304265,C653385,Female,22,Books,5,75.75,Debit Card,13/06/2021,Forum Istanbul

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [6]:
df.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [7]:
# Convertir la columna invoice_date a datetime

df['invoice_date'] = pd.to_datetime(df['invoice_date'], dayfirst=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  datetime64[ns]
 9   shopping_mall   99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 7.6+ MB

In [9]:
# Crear columnas adicionales de año y mes
df['year'] = df['invoice_date'].dt.year
df['month'] = df['invoice_date'].dt.month

df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,year,month
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,2022,8
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,2021,12
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,2021,11
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,2021,5
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,2021,10

Kanyon: 41.0811° N, 29.0116° E

Forum Istanbul: 41.0430° N, 28.9314° E

Metrocity: 41.0790° N, 29.0127° E

Metropol AVM: 40.9871° N, 29.1187° E

In [10]:
# Crear un diccionario con las coordenadas de los centros comerciales
mall_coordinates = {
    'Kanyon': {'latitude': 41.0811, 'longitude': 29.0116},
    'Forum Istanbul': {'latitude': 41.0430, 'longitude': 28.9314},
    'Metrocity': {'latitude': 41.0790, 'longitude': 29.0127},
    'Metropol AVM': {'latitude': 40.9871, 'longitude': 29.1187}
}

In [11]:
unique_values = {column: df[column].unique() for column in df.columns}

unique_values

{'invoice_no': array(['I138884', 'I317333', 'I127801', ..., 'I824010', 'I702964',
        'I232867'], dtype=object),
 'customer_id': array(['C241288', 'C111565', 'C266599', ..., 'C103292', 'C800631',
        'C273973'], dtype=object),
 'gender': array(['Female', 'Male'], dtype=object),
 'age': array([28, 21, 20, 66, 53, 49, 32, 69, 60, 36, 29, 67, 25, 24, 65, 42, 46,
        23, 27, 52, 44, 51, 50, 68, 43, 59, 54, 48, 40, 41, 19, 18, 22, 61,
        45, 64, 33, 63, 34, 47, 38, 57, 30, 26, 62, 39, 55, 56, 35, 31, 37,
        58]),
 'category': array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
        'Toys', 'Technology', 'Souvenir'], dtype=object),
 'quantity': array([5, 3, 1, 4, 2]),
 'price': array([1.50040e+03, 1.80051e+03, 3.00080e+02, 3.00085e+03, 6.06000e+01,
        4.06600e+01, 6.00160e+02, 9.00240e+02, 1.04600e+01, 1.51500e+01,
        1.43360e+02, 3.03000e+01, 1.56900e+01, 5.23000e+00, 5.25000e+03,
        7.57500e+01, 7.16800e+01, 2.03300e+02, 2.40068e+03, 1.21980e+02,
        1.07520e+02, 1.20032e+03, 8.13200e+01, 4.54500e+01, 4.20000e+03,
        1.62640e+02, 5.86500e+01, 2.61500e+01, 3.51900e+01, 2.09200e+01,
        2.34600e+01, 2.10000e+03, 3.58400e+01, 3.15000e+03, 1.79200e+02,
        6.00170e+02, 1.05000e+03, 1.20034e+03, 4.69200e+01, 1.17300e+01]),
 'payment_method': array(['Credit Card', 'Debit Card', 'Cash'], dtype=object),
 'invoice_date': <DatetimeArray>
 ['2022-08-05 00:00:00', '2021-12-12 00:00:00', '2021-11-09 00:00:00',
  '2021-05-16 00:00:00', '2021-10-24 00:00:00', '2022-05-24 00:00:00',
  '2022-03-13 00:00:00', '2021-01-13 00:00:00', '2021-11-04 00:00:00',
  '2021-08-22 00:00:00',
  ...
  '2022-06-12 00:00:00', '2021-02-01 00:00:00', '2021-07-02 00:00:00',
  '2021-03-07 00:00:00', '2021-05-18 00:00:00', '2021-01-29 00:00:00',
  '2021-01-01 00:00:00', '2021-08-12 00:00:00', '2022-01-08 00:00:00',
  '2021-05-11 00:00:00']
 Length: 797, dtype: datetime64[ns],
 'shopping_mall': array(['Kanyon', 'Forum Istanbul', 'Metrocity', 'Metropol AVM',
        'Istinye Park', 'Mall of Istanbul', 'Emaar Square Mall',
        'Cevahir AVM', 'Viaport Outlet', 'Zorlu Center'], dtype=object),
 'year': array([2022, 2021, 2023], dtype=int32),
 'month': array([ 8, 12, 11,  5, 10,  3,  1,  7,  6,  2,  4,  9], dtype=int32)}

1. Distribución de la Edad de los Clientes:

Utiliza un histograma para mostrar la distribución de la edad de los clientes.

2. Cantidad de Compras por Categoría:

Utiliza un gráfico de barras para mostrar la cantidad de compras por cada categoría (Clothing y Shoes).


3. Método de Pago Utilizado:

Utiliza un gráfico de barras para mostrar la cantidad de compras realizadas por cada método de pago (Credit Card, Debit Card, Cash).

4. Género de los Clientes:

Utiliza un gráfico de torta (pie chart) para mostrar la proporción de clientes por género.

4. Número de Compras por Mes y Año:

Utiliza un gráfico de barras para mostrar el número de compras realizadas cada mes y año.

Precio Total por Categoría:

Utiliza un gráfico de barras para mostrar el precio total gastado en cada categoría.
Ubicación de las Compras en el Mapa:

Utiliza un scatter plot para mostrar las ubicaciones de los centros comerciales en un mapa.